<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova encomenda foi cadastrada!</p>
<p>
  <span>
    O produto {{ product }} está disponível para retirada.
  </span>

  <br>
  <br>

  <strong>Código da encomenda: </strong>{{ delivery }} <br>
  <strong>Destinatário: </strong>{{ recipient }} <br>
  <strong>Endereço: </strong>
  {{ rua }}, número: {{ numero }} <br>
  <strong>Complemento: </strong>{{ complemento }} <br>
  <strong>Cidade/Estado: </strong>{{ cidade }} - {{ estado }} <br>
  <strong>CEP: </strong>{{ cep }} <br>

</p>
